
body {   
    font-family: 'Lato', sans-serif;
    background-color : #EBB6B8;
    color: #101010;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}

.smalleye {
    width: 9%;
    height: 9%;
}

.horrorbox {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
}

.centerbox {
    width: 90%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: auto;
}

.bigeye {
    width : 25vw;
    height : 25vw;
    margin-left:2vw;
}
.bar {
    background-color : #E0E7E0;
    width : 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin : auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width:80vw;
  text-align: center;
}

.header {
    background-color : #EBB6B8;   
    font-size: 3vw;
    margin-top: 3vw;
}

.header h2 {
    margin: 0;
    line-height:0.75em;
}


/* Eyes are naturally one direction, have to flip */
#left-eye {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
